.bookingFloat{

    position:fixed;

    right:24px;
    bottom:100px;

    z-index:9999;

    display:flex;
    flex-direction:column;

    align-items:center;

    text-decoration:none;

}



/* ICON */

.bookingIcon{

    width:57px;
    height:57px;

    border-radius:50%;


    background:
    linear-gradient(
        135deg,
        #F58220,
        #ff9f45
    );

    display:flex;

    justify-content:center;

    align-items:center;


    font-size:30px;


    box-shadow:
    0 12px 35px rgba(255,77,141,.45);


    position:relative;


    animation:
    float 2.5s ease-in-out infinite;

}



/* vòng sóng */

.bookingIcon::before{

    content:"";

    position:absolute;

    inset:-8px;


    border-radius:50%;


    border:2px solid rgba(255,77,141,.35);


    animation:
    ripple 2s infinite;

}



.bookingFloat:hover .bookingIcon{

    transform:scale(1.12);

}





/* FLOAT */

@keyframes float{


0%,100%{
    transform:translateY(0);
}


50%{
    transform:translateY(-6px);
}


}





/* RIPPLE */

@keyframes ripple{


0%{

    transform:scale(.8);

    opacity:1;

}


100%{

    transform:scale(1.35);

    opacity:0;

}


}




@keyframes labelPulse{


50%{

    transform:translateY(-3px);

}


}





/* CLICK EFFECT */

.bookingIcon.burst{

    animation:
    burst .6s ease;

}



@keyframes burst{


0%{
    transform:scale(1);
}


50%{
    transform:scale(1.25);
}


100%{
    transform:scale(1);
}


}




@media(max-width:768px){


.bookingFloat{

    right:16px;

    bottom:90px;

}


.bookingIcon{

    background:
    linear-gradient(
        135deg,
        #F58220,
        #ff9f45
    );


    box-shadow:
    0 12px 35px rgba(245,130,32,.45);

}


.bookingIcon::before{

    border-color:
    rgba(245,130,32,.35);

}


@keyframes labelPulse{

50%{

    box-shadow:
    0 15px 35px rgba(245,130,32,.5);

}

}
}