.serviceSlider {

    display:flex;

    gap:24px;

    overflow-x:auto;

    padding:20px 5px 30px;

    scroll-behavior:smooth;

}


.serviceSlider::-webkit-scrollbar {

    height:8px;

}


.serviceSlider::-webkit-scrollbar-track {

    background:#eee;

    border-radius:20px;

}


.serviceSlider::-webkit-scrollbar-thumb {

    background:#d4a373;

    border-radius:20px;

}



.serviceCard {

    flex:0 0 340px;

    background:#fff;

    border-radius:24px;

    padding:30px;

    border:1px solid #eee;

    box-shadow:
    0 10px 30px rgba(0,0,0,.06);

    position:relative;

}



.serviceBadge {

    position:absolute;

    top:20px;

    right:20px;

    background:#d4a373;

    color:white;

    padding:6px 14px;

    border-radius:20px;

    font-size:13px;

}



@media(max-width:768px){

    .serviceCard{

        flex:0 0 85%;

    }

}