.zaloButton{

    position:fixed;

    right:22px;

    bottom:25px;

    width:58px;

    height:58px;


    border-radius:50%;


    background:#0068ff;


    display:flex;

    align-items:center;

    justify-content:center;


    text-decoration:none;


    z-index:9999;


    box-shadow:
    0 10px 30px rgba(0,104,255,.35);


    animation:
    zaloFloat 2.5s ease-in-out infinite;

}



.zaloIcon{

    color:white;

    font-size:18px;

    font-weight:800;

    letter-spacing:-.5px;

}




/* vòng sóng */

.zaloButton::before{

    content:"";

    position:absolute;

    inset:-8px;


    border-radius:50%;


    border:2px solid rgba(0,104,255,.35);


    animation:
    zaloRipple 2s infinite;

}




.zaloButton:hover{

    transform:scale(1.1);

}





@keyframes zaloFloat{


0%,100%{

    transform:translateY(0);

}


50%{

    transform:translateY(-5px);

}

}




@keyframes zaloRipple{


0%{

    transform:scale(.8);

    opacity:1;

}


100%{

    transform:scale(1.35);

    opacity:0;

}

}





@media(max-width:768px){


.zaloButton{

    right:19px;

    bottom:24px;


    width:54px;

    height:54px;

}


.zaloIcon{

    font-size:16px;

}

}