.heroSlider {
margin-top: 69px;

    width: 100%;
}

.heroSwiper {
    width: 100%;
}

.heroSwiper .swiper-slide {
    width: 100%;
}

/* Banner luôn cùng tỷ lệ */
.heroSlide {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 7;
    overflow: hidden;
}

/* Next/Image fill */
.heroImg {
    object-fit: cover;
    object-position: center;
}

.heroOverlay {
    position: absolute;
    inset: 0;

    background: linear-gradient(
        rgba(0,0,0,.15),
        rgba(0,0,0,.45)
    );

    pointer-events: none;
    z-index: 1;
}

/* Pagination */

.heroSwiper .swiper-pagination {
    bottom: 18px !important;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: .45;
    transition: .3s;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #f58220;
    transform: scale(1.2);
}

/* Tablet */

@media (max-width: 992px) {
    .heroSlide {
        aspect-ratio: 16 / 7;
    }
}

/* Mobile */

@media (max-width: 768px) {
    .heroSlide {
        aspect-ratio: 16 / 7;
    }
}